@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap");

:root {
  
  --bs-body-font-family: "PT Sans", sans-serif;
  font-family: var(--bs-body-font-family);
  font-size: 17px;
  --additional-font: Heebo, sans-serif;
  box-sizing: border-box;
  color: #2a2a2a;
  --default-color:#2a2a2a;
  --contacts-links-color: rgb(42, 42, 42);
  --offer-strike-color: #53535373;
  --nav-pages-color: #474747;
  --button-blue-color:#1E90FF;
  --button-black-color:#000;
  --button-colorfull-color: #F4A460;
  --banner-h-color: #2f2f2f;
  --banner-p-color: #3b3b3b;
  --background-services-color:#FAF0E6;
  --light-text-color: #fff;
  --header-contacts-light: rgb(242, 242, 242);
  --offer-jbl-color: #EB5112;
  --offer-jbl-strike-color: #797878;



  
}














