@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap");

:root {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  --additional-font: Heebo, sans-serif;
  box-sizing: border-box;
  color: #2a2a2a;
  --default-color:#2a2a2a;
  --button-blue-color:#1E90FF;
  --button-black-color:#000;
  --button-colorfull-color: #F4A460;
  --background-services-color:#FAF0E6;
  --light-text-color: #fff;
}




.container-top {
  max-width: 380px;
  margin: auto;
}
/* .container-top {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  
} */







@media (min-width: 381px) {
  .container-top {
    max-width: 450px;
  }
}










