
/* Navigation styles */

.container-top_flex{
    display: flex;
    flex-direction: column;
    max-width: 332px; 
    
  
  }
  header .banner-bg {
    min-height: 753px;
    background-size: cover;
    background-position: center;
    
    
  }
  header .banner-bg_origin {
    background: url(../img/bg-photos/main-bg.webp);
    padding: 0 24px;
  }
  section div nav .navigation-pages, .navigation-social {
    display: none;
  }
  
  section div nav .navigation-logo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    
  }
  section div nav .navigation-logo img {
    max-width: 114px;
      
  }
  section div nav .navigation__burger-button{
    display: block;
    width: 24px;
    padding: 12px;
  }
  /* section div nav .navigation-pages {
    font-size: 0.92rem;
    color: #474747;
  }
  section div nav .navigation-pages a {
    font-size: 0.92rem;
    color: #474747;
    font-weight: 700;
    text-decoration: none;
  }
  section div nav .navigation-social img {
    max-width: 28px;
    border-radius: 0.4rem;
  } */