section .services container {
}
section.first-section {
  margin-top: 50px;
}
section .services {
  position: relative;
  margin-bottom: 50px;
}

section div .item {
  max-width: 325px;
  margin: 15px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section div .item .item__icon {
  max-width: 70px;
  min-height: 70px;
  background-color: var(--background-services-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div .item .item__icon img {
  display: block;
  width: 60%;
}
section div .item .item__text {
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
}
section div .item__text h3 {
  font-family: var(--additional-font);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 15px;
  color: #6c6c6c;
}
section div .item__text p {
  color: #6c6c6c;
  line-height: 15px;
}
.services__type {
  display: flex;
  justify-content: space-between;
}

.services__button-next span img {
  width: 25px;
  position: absolute;
  top: 35%;
  right: 25px;
}
.services__button-prev span img {
  width: 25px;
  position: absolute;
  top: 35%;
  left: 25px;
}
@media (min-width: 1280px) {
  .services__button-next span img {
    right: -15px;
  }
  .services__button-prev span img {
    left: -15px;
  }
}
