.future-top-products {
  width: 100%;
  min-height: 900px;
  background: url("../img/bg-photos/jbl-everest.jpg") no-repeat;
  background-size: cover;
  background-position: 48.44% 35.95%;
}
.future-top-products__container {
}
.future-top-products-accordeon {
}
.future-top-products-accordeon__topic {
}
