@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700;&display=swap");

h3
{
color: blue;
}
h4 
{
color: coral;
}
.News
{
    background-color: whitesmoke;
}
h2
{
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: none;
}
.Popular Articles 
{
    
    font-family: "PT Sans", sans-serif;
}
.article-button:hover
{
    text-decoration: underline;
    color: black;
}

.cards-container
{
    flex-direction: row;
    display: flex;

}
.Articles-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.News
{
    
    align-items: center;
text-align: center;
}

