@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700;&display=swap");

h3
{
color: blue;
}
h4 
{
color: coral;
}
.News
{
    background-color: whitesmoke;
}
div .Our customers Say h2
{
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: none;
}
.Popular Articles 
{
    
    font-family: "PT Sans", sans-serif;
}

{
    width: 327.2px;
}
.article-button:hover
{
    text-decoration: underline;
    color: black;
}

.cards-container
{
    flex-direction: row;
    display: flex;

}
.Articles-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.News
{
    
    align-items: center;
text-align: center;
}
@media (min-width: 600px)
{
    header .cards-container{

        display: flex;
    flex-direction: row;

}
}
p 
{
    text-align: center;
}

.Our Customers syntax: 
{
    align-items: center;
}

    /* body 
    {max-width: 980px;
        margin: 5px;
        padding: 5px;
    } */

